.topnav__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #E1E1E1;
  transition: all .25s ease-in-out;
}

@media (max-width: 1200px) {
  .topnav__links {
    justify-content: space-between;
  }
}

@media (max-width: 992px) {
  .topnav__links {
    max-height: 0px;
    overflow: hidden;
  }
}
