  .header__logo {
    min-width: 160px;
    text-align: center;
  }

@media (max-width: 1200px) {
  .header__logo {
    min-width: 130px;
  }
}

@media (max-width: 992px) {
  .header__logo {
    min-width: 90px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    min-width: 25%;
    max-width: 25%;
  }
}
