.burger-menu {
  width: 35px;
  height: 23px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.burger-menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: black;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  transform-origin: left center;
}

.burger-menu span:nth-child(1) {
  top: 0px;
}
.burger-menu span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger-menu span:nth-child(3) {
  bottom: 0;
}

.burger-menu.open span:nth-child(1) {
  transform: rotate(45deg);
  width: 83%;
  left: 17%;
}
.burger-menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.burger-menu.open span:nth-child(3) {
  transform: rotate(-45deg);
  width: 83%;
  left: 17%;
}
