.form__checkbox-item {
    display: inline-block;
    width: 26px;
    height: 26px;
    border: 2px solid #ddd;
    border-radius: 6px;
    background: #ddd;
    color: #ddd;
    font-size: 22px;
    line-height: 1.25;
    text-align: center;
}
