.header__logo-image {
  width: 125px;
  height: 83px;
  margin: 0 auto;
  background: url(https://0622203.demo1.siteimperium.com/images/design/group.png) center/contain no-repeat;
}

@media (max-width: 992px) {
  .header__logo-image {
    width: 90px;
    height: 60px;
  }
}

@media (max-width: 768px) {
  .header__logo-image {
    width: 50%;
    padding-top: 33%;
    height: auto;
  }
}
