@import url(../vendor/normalize.css);
@import url(../vendor/fonts/roboto.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);

/*header начало */

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__logo-image/header__logo-image.css);
@import url(../blocks/header/__logo-link/header__logo-link.css);
@import url(../blocks/header/__contacts/header__contacts.css);
@import url(../blocks/header/__contacts-item/header__contacts-item.css);
@import url(../blocks/header/__contacts-title/header__contacts-title.css);
@import url(../blocks/header/contacts-hours/header__contacts-hours.css);
@import url(../blocks/header/__contacts-item/header__contacts-item.css);
@import url(../blocks/header/__contacts-email/header__contacts-email.css);
@import url(../blocks/header/__contacts-tel/header__contacts-tel.css);
@import url(../blocks/header/__feedback/header__feedback.css);

/* main начало */

@import url(../blocks/content/content.css);
@import url(../blocks/advertisement/advertisement.css);
@import url(../blocks/services/services.css);
@import url(../blocks/catalog/catalog.css);
@import url(../blocks/benefits/benefits.css);
@import url(../blocks/portfolio/portfolio.css);
@import url(../blocks/working/working.css);
@import url(../blocks/faq/faq.css);
@import url(../blocks/about/about.css);
@import url(../blocks/conditions/conditions.css);
@import url(../blocks/location/location.css);

/*footer начало */

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

/*popup начало*/

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);

/* form в блоке popup */

@import url(../blocks/form/form.css);
@import url(../blocks/form/__title/form__title.css);
@import url(../blocks/form/__field/form__field.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__input/_type/form__input_type_error.css);
@import url(../blocks/form/__input-error/form__input-error.css);
@import url(../blocks/form/__input-error/_active/form__input-error_active.css);
@import url(../blocks/form/__submit/form__submit.css);
@import url(../blocks/form/__submit/_disabled/form__submit_disabled.css);
@import url(../blocks/form/__checkbox/form__checkbox.css);
@import url(../blocks/form/__checkbox-item/form__checkbox-item.css);
@import url(../blocks/form/__conditions/form__conditions.css);
@import url(../blocks/form/__conditions-link/form__conditions-link.css);
@import url(../blocks/form/__submit-text/form__submit-text.css);
@import url(../blocks/form/__submit-icon/form__submit-icon.css);
@import url(../blocks/form/__submit-icon/_type/form__submit-icon_type_hidden.css);

/* Просмотр фото в блоке popup */

@import url(../blocks/image-viewing/image-viewing.css);
@import url(../blocks/image-viewing/__img-card/image-viewing__img-card.css);
@import url(../blocks/image-viewing/__image/image-viewing__image.css);
@import url(../blocks/image-viewing/__caption/image-viewing__caption.css);
