.form__submit {
  display: block;
  position: relative;
  box-sizing: border-box;
  min-width: 200px;
  height: 58px;
  background-color: rgba(171, 12, 0, 1);
  border-radius: 30px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: 0.2s;
  margin: 0 auto 45px;
  overflow: hidden;
}

.form__submit:hover .form__submit-text {
  transform: translateX(0%);
}

@media (max-width: 935px) {
  .form__submit {
    font-size: 14px;
    line-height: 17px;
  }
}
