.topnav__email {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000;
  text-decoration: none;
  transition: all .15s ease-in-out;
}

.topnav__email:hover {
  color: #AB0C00;
}
