.header {
  box-sizing: border-box;
  max-width: 1110px;
  margin: 0 auto;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .header {
    max-width: 930px;
  }
}

@media (max-width: 992px) {
  .header {
    max-width: 690px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px 15px;
    max-width: 510px;
  }
}

@media (max-width: 575px) {
  .header {
    width: 100%;
  }
}
