.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border: none;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  background: #f8f9fa;
  border-radius: 30px;
}

.form__input::placeholder {
  color: #6c757d;
}
